<h2 class="title">Live Smarter with Sidegig.me</h2>
<p>What do you need done?</p>
<p>Sidegig is the easiest way to get everything done at an unbeatable value.</p>
<hr />
<h3>How It Works</h3>

<h4></h4>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<h4 class="panel-heading">Get things done</h4>
			<div class="panel-body">
				<p>People who love what they do help you get everything done at an unbeatable value.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">	
		<div class="panel panel-primary">
			<h4 class="panel-heading">Start selling</h4>
			<div class="panel-body">
				<p>What do you do best? Create your Gig and start selling. It's free, and only takes 5 minutes.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<h4 class="panel-heading">Trust & Safety</h4>
			<div class="panel-body">
				<p>Your safety is our top priority. Secure transactions and our safety team protect you at all times.</p>
<!--
				<p>We only release payment once the order has been delivered and approved by you</p>
-->
			</div>
		</div>
	</div>
	<div class="text-center">
		<a ng-href="#/register" class="btn btn-primary btn-lg">Get Started</a>
	</div>
</div>

<div class="card">

    <div class="card-height-indicator"></div>

    <div class="card-content">

        <div class="card-image">
            <img src="images/browse.jpg" alt="Loading image...">
            <h3 class="card-image-headline">Lorem Ipsum Dolor</h3>
        </div>

        <div class="card-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <footer class="card-footer">
            <button class="btn btn-flat">Share</button>
            <button class="btn btn-flat btn-warning">Learn More</button>
        </footer>

    </div>

</div>

<!--
<div class="list-group"  ng-repeat="task in tasks">
	<div class="list-group-item">
		<a ng-href="#/task/{{task.$id()}}">
			<h4 class="list-group-item-heading">
				{{task.name}}
				<span class="badge" ng-show="task.tag">
					<i class="glyphicon glyphicon-tags"></i> &nbsp; {{task.tag}}
				</span>
			</h4>
		</a>
	</div>
	<br />
	<div ng-if="$index % 3 == 0" class="list-group-item list-group-item-info">
		<p>
			<a href="http://twitter.com/flybaseio">Follow us on Twitter!</a>
		</p>
	</div>
</div>
-->
