<h2 class="title">Live Smarter with Sidegig.me</h2>
<p>What do you need done?</p>
<p>Sidegig is the easiest way to get everything done at an unbeatable value.</p>
<hr />
<h3>How It Works</h3>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Sign up for free</div>
			<div class="panel-body">
				<p>Signing up takes less than 2 minutes. It's free to join SideGig</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">	
		<div class="panel panel-primary">
			<div class="panel-heading">Easy browsing</div>
			<div class="panel-body">
				<p>Our search engine and our intuitive filters help you find exactly what you are looking for</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Place your task</div>
			<div class="panel-body">
				<p>We only release payment to the Seller once the order has been delivered and approved by you</p>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a ng-href="#/register" class="btn btn-primary btn-lg">Get Started</a>
	</div>
</div>
<!--
<div class="list-group"  ng-repeat="task in tasks">
	<div class="list-group-item">
		<a ng-href="#/task/{{task.$id()}}">
			<h4 class="list-group-item-heading">
				{{task.name}}
				<span class="badge" ng-show="task.tag">
					<i class="glyphicon glyphicon-tags"></i> &nbsp; {{task.tag}}
				</span>
			</h4>
		</a>
	</div>
	<br />
	<div ng-if="$index % 3 == 0" class="list-group-item list-group-item-info">
		<p>
			<a href="http://twitter.com/flybaseio">Follow us on Twitter!</a>
		</p>
	</div>
</div>
-->